li(class="right")
	a(class="menu-button" href="#")
		+navbar_led("hid-recorder-led", "led-gear")
		| 网络
	div(data-dont-hide-menu class="menu")
		div(class="text")
			b 网络配置显示#[br]
		hr
		table(class="kv")
			tr
				td Name:
				//- td(colspan="2" id="hid-node-name" class="value") eth0
				td #[input(type="net-name" id="hid-network-input-name" readonly="readonly")]
			tr
				td Address:
				td #[input(type="net-address" id="hid-network-input-address")]
			tr
				td Gateway:
				td #[input(type="net-gateway" id="hid-network-input-gateway")]
			tr
				td DNS:
				td #[input(type="net-dns" id="hid-network-input-dns")]
		hr
		div(class="buttons buttons-row")
			button(id="hid-recorder-netstat" class="row100") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;更改网络配置
		hr
